@page "/game-table"

<h1>Страница игры</h1>
<p>Добро пожаловать за стол!</p>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: black;
        color: #333;
        text-align: center;
        margin: 0;
        padding: 2rem;
    }
</style>